html{
    background-color: #edf6f9;
}

body{
    font-size: 16px;
}

h1{
    font-family: 'IBM Plex Serif', serif;
}

p{
    font-family: 'Tajawal', sans-serif;
    background-color: 83C5BE;
}
strong{
    color:#006d77
}

.font-size_medium{
    font-size: 1.2em;
}

.list-style_none{
    list-style: none;
}

.perfil{
  background-color: yellow;
  width: 80%;
  margin:auto;
  text-align: center;
}

.perfil h1{
  font-size: 3em;
}

.imagem{
  background-color: red;
  margin-left: 2%;
  width: 25%;
}

.imagem img{
  width: 100%;
}

.imagem p{
  margin-top: 5px;
}